.card {
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 5%;
  border: 1px solid black;
}

span {
  background-color: white;

  color: 3px solid #c2ced8;
}
img{
  padding-right: 150px;
  padding-left: 4px;
}

.lar{
  height: 60px;
  padding-top: 05px;
}

h2 {
  background-color: #12cad6;
  color: white;
}

.line-between-text {
  color: #c2ced8;
  width: 100%;
  border-bottom: 3px solid #c2ced8;
  line-height: .1em;
  margin: 30px 0;
}

button{
  margin: 5px;

}

.sig1{
  background-color: #12cad6;
  color: white;
}


.f{
background-color: #1b6ca8;
color: white;
font-family: 'Source Sans Pro', sans-serif;
}

.g{
  background-color: #fa1616;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}
.sig{
  background-color:#bac964;
  color: white;
}

.sp{
background-color: #12cad6;
color: white;
}

input{
  margin: 8px;
}

p
{
  text-align: center;
}

.pad{
  padding-left: 5px;
  padding-right:  205px;
}






input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 4px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;

}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
